@page
@model Exercicios.Pages.SobreMimModel
@{
    ViewData["Title"] = "Sobre Mim";
}

<div class = "text-center">
    <h1 class="text-uppercase"> Franciele Barros da Cruz</h1>
    <p class="font-weight-light"> Programadora</p>
</div>
