@page
@model Exercicios.Pages.Repeticao.Repita.IndexModel
@{
    ViewData["Title"] = "Estrutura de Repetição - REPITA";
}

<div class="text-center">
    <h1 class="display-4">Estrutura de Repetição</h1>
    <h2 class="text-center display-4">REPITA - DO</h2>
</div>
<div class="row">
    <div class="card col-lg-4 col-md-6 col-sm-12" style="padding:0">
        <img src="@Url.Content("~/images/imc.png")" class="card-img-top" alt="Repetição DO WHILE  - Tabuada">
        <div class="card-body">
            <h5 class="card-title">IMC</h5>
            <p class="card-text">Solicite ao usuário um número e informe a tabuada correspondente.</p>
            <a asp-page="/Repeticao/Repita/Exercicio1" class="btn btn-primary">Executar</a>
        </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-12" style="padding:0">
        <img src="@Url.Content("~/images/fatorial.png")" class="card-img-top" alt="Repetição DO WHILE  - Fatorial">
        <div class="card-body">
            <h5 class="card-title">FATORIAL</h5>
            <p class="card-text">
                PROGRAMA FATORIAL: Faça um algoritmo que calcula o fatorial de um número inteiro
                fornecido pelo usuário.
            </p>
            <a asp-page="/Repeticao/Repita/Exercicio2" class="btn btn-primary">Executar</a>
        </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-12" style="padding:0">
        <img src="@Url.Content("~/images/soma.png")" class="card-img-top" alt="Repetição DO WHILE - Soma Inteiros">
        <div class="card-body">
            <h5 class="card-title">SOMA</h5>
            <p class="card-text">
                PROGRAMA SOMA: Faça um algoritmo que leia um número n, some todos os números inteiros de 1 a
                n, e mostre o resultado obtido.
            </p>
            <a asp-page="/Repeticao/Repita/Exercicio3" class="btn btn-primary">Executar</a>
        </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-12" style="padding:0">
        <img src="@Url.Content("~/images/sem-foto.png")" class="card-img-top" alt="Repetição DO WHILE - Inteiros">
        <div class="card-body">
            <h5 class="card-title">TITULO</h5>
            <p class="card-text">
                PROGRAMA INTEIROS: Faça um algoritmo que imprima todos os números inteiros de 1 a n (n é
                fornecido pelo usuário).
            </p>
            <a asp-page="/Repeticao/Repita/Exercicio4" class="btn btn-primary">Executar</a>
        </div>
    </div>
</div>










